/*.pdf
*.aux
*.log
*.gz
*.toc
*.out
*.lof
*.bbl
*.blg
*.fdb_latexmk
*.fls
__pycache__/
*.DS_Store
# Temporary chapter container documents (Temp, temp2, etc.)
[Tt][Ee][Mm][Pp]*.tex
Book_124.tex
CustomGlossary.tex
GradNN.tex
